﻿@{
    ViewBag.Title = "Exemplos Widget";
}
<h1>
    Exemplos Widgets</h1>
<style type="text/css">
    div.itm  { display: inline-block; 
           border: 1px solid black;
           margin: 10px;
           padding: 5px;
           vertical-align: top;
    }
</style>
<div class="itm">
    <h2>
        POI Widgets - V1
    </h2>

    <script type="text/javascript" src="@Url.Action("Index", "Widget", new { v = 1, w = 425, h = 350, placeid = "888843J5", tile ="yes" })"></script>
</div>

<div class="itm">
    <h2>
        Lat/Lng Widgets - V2
    </h2>
    
    <script type="text/javascript" src="@Url.Action("Index", "Widget", new { v = 2, w = 250, h = 250, maptip = "no", lat = -23.5570519, lng = -46.6614739, zcontrol = "small", mcontrol = "no", tile ="yes" })"></script>
</div>

<div class="itm">
    <h2>
        Route Widgets - V2.1
    </h2>
    
    <script type="text/javascript" src="@Url.Action("Index", "Widget", new { v = "2.1", w = 960, h = 360, lat = -23.5570519, lng = -46.6614739, zcontrol = "big", mcontrol = "yes", dn = "Serid%C3%B3%20Toalhas%20de%20Mesas%20e%20Uniformes%20Profissionais", tile = "yes" })"></script>
</div>

<div class="itm">
    <h2>
        Maps Widgets - V3
    </h2>

    <script type="text/javascript" src="@Url.Action("Index", "Widget", new { v = 3, w = 400, h = 400, lat = -23.5570519, lng = -46.6614739 , placeid="888843J5", tl="true"})"></script>
</div>

<div class="itm">
    <h2>
        Tile Widgets - V4
    </h2>

    <script type="text/javascript" src="@Url.Action("Index", "Widget", new { v = 4, w = 350, h = 350, m = 100, lat = -23.5570519, lng = -46.6614739 })"></script>
</div>

<div class="itm">
    <h2>
        Image Widgets - V4.1
    </h2>

    <img alt="" src="@Url.Action("Index", "Widget", new { v = "4.1", lat = -23.565854, lng = -46.665756, w = 230, h = 165, m = 400, count=0 })" />
</div>

<div class="itm">
    <h2>
        News Widgets - V5
    </h2>

    <script src="@Url.Action("Index", "Widget", new { v = 5, w = 250, h = 250, ft = 1, city = "sao paulo", state = "sp", limit = 3 })" type="text/javascript"></script>
</div>






