﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>LatLngWidgets</title>
   <script src="@System.Configuration.ConfigurationManager.AppSettings["urlAPI"]"></script>
    <style type="text/css">
        body
        {
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>
<body>
    <div id="divmap" class="map_widget" style="width: @string.Format("{0}px", ViewBag.Width);height: @string.Format("{0}px", ViewBag.Height);">
        <div id="loading" style="text-align: center; vertical-align: middle; width: @string.Format("{0}px", @ViewBag.Width);height: @string.Format("{0}px", @ViewBag.Height);">
            <img src="@Url.Content("~/Content/Images/loading.gif")" alt="Carregando..." style="margin-top: 40%" />
        </div>
    </div>
    <script type="text/javascript">

        var map = null;
        var layer = null;
        var _tile = "@ViewBag.Tile";

        map = new MMap2(document.getElementById("divmap"));



        switch ("@ViewBag.ZControl") //tipo do controle de zoom e mapa
        {
            case "big":

                map.addControl(new GLargeMapControl());

                break;
            case "small":
                map.addControl(new GSmallMapControl());

                break;

            case 'no':
            default:
                break;
        }

        switch ("@ViewBag.MControl") //sim ou não para map control (satélite)
        {
            case 'yes':

                map.addControl(new GMapTypeControl(), new GControlPosition(G_ANCHOR_TOP_RIGHT, new GSize(5, 5)));
                break;

            case 'no':
            default:
                break;
        }

        if (layer == null) {
            layer = new LBS.Layer.Markers();
        }
        else {
            map.removeOverlay(layer);
            layer = null;
            layer = new LBS.Layer.Markers();
        }
        if (layer != null) {
            map.addOverlay(layer);
        }

        if(_tile == "yes")
            map.addLayer(LBS_TRAFFIC_LAYER_2);

        var latlng = new GLatLng(parseFloat("@ViewBag.Lat"), parseFloat("@ViewBag.Lng"));
        var newImg = new Image();
        newImg.src = "@ViewBag.Image";        
        var icon = new GIcon();
        icon.iconSize = new GSize(newImg.width, newImg.height);
        icon.iconAnchor = new GPoint(34 / 2, 41);
        icon.infoWindowAnchor = new GPoint(34 / 2, 0);
        icon.image = "@ViewBag.Image";

        var mmarker = new GMarker(latlng, { draggable: false, icon: icon });
        layer.addMarker(mmarker);
        map.setCenter(new MPoint(parseFloat("@ViewBag.Lng"), parseFloat("@ViewBag.Lat")), parseFloat("@ViewBag.Zoom"));
        document.getElementById("loading").style.display = "none";
    </script>
</body>
</html>
