﻿@{
    Layout = null;
}
@model WidgetMaplink.Models.ViewModel.WidgetsMaps
@{System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("en-US");}
<!DOCTYPE html>
<html>
<head>
    <title>MapsWidgets</title>
    <script type="text/javascript">
        var _lat = @Model.Lat.ToString(ci);
        var _lng = @Model.Lng.ToString(ci);
        var _zoom = @Model.Zoom;
        var _fr = "@Model.Fr";
        var _or = "@Model.Or";
        var _de = "@Model.De";
        var _tile = "@Model.Tile";
    </script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["urlAPI"]"></script>
    <link rel="stylesheet"        href="@Url.Content("~/Content/css/jquery-ui-1.8.23.custom.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.8.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-1.8.23.custom.min.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Content/js/Widget.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/AutoComplete.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/json2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.highlight-3.js")"></script>
    <link rel="stylesheet"        href="@Url.Content("~/Content/css/base.css")" />
    <link rel="stylesheet"        href="@Url.Content("~/Content/css/transito.css")" />
    <style type="text/css">
        *
        {
            margin: 0;
            padding: 0;
        }
        body
        {
            font: 12px/22px Lucida Grande, sans-serifTahoma, Arial, Geneva, sans-serif;
            padding:0!important;
            margin:0!important;
            background-color: #F2F2F2;
        }
        a
        {
            text-decoration: none;
            color: #0485D6;
        }
        a:hover
        {
            text-decoration: underline;
        }
        .clearfix:after
        {
            clear: both;
            content: ' ';
            display: block;
            font-size: 0;
            line-height: 0;
            visibility: hidden;
            width: 0;
            height: 0;
        }
        .clearfix
        {
            display: inline-block;
        }
        * html .clearfix
        {
            height: 1%;
        }
        .clearfix
        {
            display: block;
        }
        /* Sobre fontes*/h1
        {
            font: bold 26px/32px Lucida Grande, Verdana, Arial, Geneva, sans-serif;
            color: #4E4E4E;
            margin-top: 15px;
        }
        h2
        {
            font: normal 14px Lucida Grande, Tahoma, Arial, Geneva, sans-serif;
            color: #949494;
        }
        h3
        {
            font: bold 15px Lucida Grande, Tahoma, Arial, Geneva, sans-serif;
            color: #4e4e4e;
            margin-bottom: 5px;
        }
        h4
        {
            font: normal 14px Lucida Grande, Tahoma, Arial, Geneva, sans-serif;
            color: #949494;
        }
        h5
        {
            font: normal 12px Lucida Grande, Tahoma, Arial, Geneva, sans-serif;
            color: #949494;
        }
        h1, h2, h3, h4
        {
            text-shadow: 0 1px #FFFFFF;
        }
        .f11
        {
            font-size: 11px;
        }
        .f26
        {
            font-size: 26px;
        }
        .f14
        {
            font-size: 14px;
        }
        .lh15
        {
            line-height: 15px;
        }
        .normalifonts
        {
            font-weight: normal;
        }
        .negrito
        {
            font-weight: bold;
        }
        .legendas
        {
            font: normal 10px Arial, Helvetica, sans-serif;
            font-style: italic;
        }
        .blue_default
        {
            color: #0485D6;
        }
        .gray_default
        {
            color: #797979;
        }
        /*Sobre padroes*/.left
        {
            float: left;
        }
        .right
        {
            float: right;
        }
        .middle
        {
            margin: 0 auto;
        }
        .pdt25
        {
            padding-top: 25px;
        }
        .pdl45
        {
            padding-left: 45px;
        }
        .pdl35
        {
            padding-left: 35px;
        }
        .pdr45
        {
            padding-right: 45px;
        }
        .ml5
        {
            margin-left: 5px;
        }
        .ml10
        {
            margin-left: 10px;
        }
        .ml15
        {
            margin-left: 15px;
        }
        .ml20
        {
            margin-left: 20px;
        }
        .mr5
        {
            margin-right: 5px;
        }
        .mr10
        {
            margin-right: 10px;
        }
        .mr20
        {
            margin-right: 20px;
        }
        .mr50
        {
            margin-right: 50px;
        }
        .mt5
        {
            margin-top: 5px;
        }
        .mt10
        {
            margin-top: 10px;
        }
        .mt20
        {
            margin-top: 20px;
        }
        .mb10
        {
            margin-bottom: 10px;
        }
        .w50
        {
            width: 50px;
        }
        .w100
        {
            width: 100px;
        }
        .w125
        {
            width: 125px;
        }
        .w130
        {
            width: 130px;
        }
        .w150
        {
            width: 150px;
        }
        .w175
        {
            width: 175px;
        }
        .w150
        {
            width: 150px;
        }
        .w180
        {
            width: 180px;
        }
        .w190
        {
            width: 190px;
        }
        .w200
        {
            width: 200px;
        }
        .w205
        {
            width: 205px;
        }
        .w215
        {
            width: 215px;
        }
        .w225
        {
            width: 225px;
        }
        .w250
        {
            width: 250px;
        }
        .w350
        {
            width: 350px;
        }
        .w400
        {
            width: 400px;
        }
        .w620
        {
            width: 620px;
        }
        .w685
        {
            width: 700px;
        }
        .w750
        {
            width: 750px;
        }
        .w125m
        {
            width: 75px;
        }
        .w215m
        {
            width: 135px;
        }
        .w180m
        {
            width: 110px;
        }
        .linha
        {            
            min-height: 350px;
        }
        .img, a img
        {
            border: none;
        }
        hr
        {
            border: 0 #ccc solid;
            border-top-width: 1px;
            clear: both;
            height: 0;
            margin-bottom: 1.5em;
        }
        hr.bt
        {
            border: 0 #E4E4E4 solid;
            border-top-width: 1px;
            clear: both;
            height: 0;
            margin-bottom: 8px;
        }
        input[type="radio"]
        {
            border: none;
        }
        input.dados, select.dados
        {
            height: 18px;
            color: #333;
            padding: 1px 0 0 3px;
            outline: none;
        }
        textarea
        {
            color: #333;
            padding: 1px 0 0 3px;
            outline: none;
            font: normal 12px Arial, Helvetica, sans-serif;
        }
        input.bd, textarea
        {
            border: solid 1px #ccc;
        }
        input.off
        {
            background-color: #F9F9F9;
            color: #999;
            padding: 1px 0 0 3px;
            outline: none;
        }
        .focus
        {
            border: solid 1px #999;
            color: #333;
            background-color: #fff;
            -moz-box-shadow: 0 0 3px #6BB0CD;
            -webkit-box-shadow: 0 0px 3px #6BB0CD;
            box-shadow: 0 0px 3px #6BB0CD;
            outline: none;
        }
        /*elementos de layoout*/.container
        {
            clear: both;
            margin: 0 auto;
            width: 990px;
        }
        .content
        {
            width: 960px;
            padding-right: 20px;
            margin: 0 auto;
            text-align: left;
            clear: both;
        }
        .homepreview
        {
            min-height: 400px;
            padding: 35px 0 0 0;            
        }
        button.action
        {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -moz-box-shadow: 0 1px 2px #666;
            -webkit-box-shadow: 0 2px 3px #999999;
            box-shadow: 0 2px 3px #999999;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0094F6', endColorstr='#0063A5'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#0094F6), to(#0063A5)); /* for webkit browsers */
            background: -moz-linear-gradient(top,  #0094F6,  #0063A5); /* for firefox 3.6+ */
            cursor: pointer;
            font: arial,helvetica,sans-serif;
            color: #FFFFFF;
            text-shadow: 0 1px #005189;
            font-weight: bold;
            overflow: visible;
            padding: 5px 7px;
            border: none;
            outline: none;
        }
        button.action:hover
        {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099FF', endColorstr='#0076C6'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#0099FF), to(#0076C6)); /* for webkit browsers */
            background: -moz-linear-gradient(top,  #0099FF,  #0076C6); /* for firefox 3.6+ */
            outline: none;
        }
        #map_extend.full .botao_rota
        {
            width: 425px;
            background-color: #ffffff;
            border: solid 1px #DBDBDB;
        }
        #map_extend.full .botao_rota a
        {
            padding: 0 0 0 12px;
            margin: 0 0 0 5px;
            font: bold 11px/24px Arial, Helvetica, sans-serif;
            color: #0485D6;
        }
        #map_extend.full .botao_rota a.open
        {
            
        }
        #map_extend.full .botao_rota a.contract
        {            
        }
        #map_extend.full .div_router
        {
            display: block;
        }
        #map_extend.full .router
        {
            width: 405px;
            height: 65px;
            padding: 10px 10px 0 10px;
            border-bottom: solid 1px #DBDBDB;
            border-left: solid 1px #DBDBDB;
            border-right: solid 1px #DBDBDB;
            border-top: solid 1px #EEEEEE;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#ECECEC'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC)); /* for webkit browsers */
            background: -moz-linear-gradient(top,  #F9F9F9,  #ECECEC); /* for firefox 3.6+ */
            -webkit-border-bottom-right-radius: 8px;
            -webkit-border-bottom-left-radius: 8px;
            -moz-border-radius-bottomleft: 8px;
            -moz-border-radius-bottomright: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            display: none;
        }
        #map_extend.mini .botao_rota
        {
            width: 300px;
            background-color: #ffffff;
            border: solid 1px #DBDBDB;
        }
        #map_extend.mini .botao_rota a
        {
            padding: 0 0 0 12px;
            margin: 0 0 0 5px;
            font: bold 11px/24px Arial, Helvetica, sans-serif;
            color: #0485D6;
        }
        #map_extend.mini .botao_rota a.open
        {
         
        }
        #map_extend.mini .botao_rota a.contract
        {
         
        }
        #map_extend.mini .div_router
        {
            display: block;
        }
        #map_extend.mini .router
        {
            width: 280px;
            height: 65px;
            padding: 10px 10px 0 10px;
            border-bottom: solid 1px #DBDBDB;
            border-left: solid 1px #DBDBDB;
            border-right: solid 1px #DBDBDB;
            border-top: solid 1px #EEEEEE;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#ECECEC'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC)); /* for webkit browsers */
            background: -moz-linear-gradient(top,  #F9F9F9,  #ECECEC); /* for firefox 3.6+ */
            -webkit-border-bottom-right-radius: 8px;
            -webkit-border-bottom-left-radius: 8px;
            -moz-border-radius-bottomleft: 8px;
            -moz-border-radius-bottomright: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            display: none;
        }
        #map_extend.justlink .botao_rota
        {
            width: 300px;
            background-color: #ffffff;
            border: solid 1px #DBDBDB;
        }
        #map_extend.justlink .botao_rota a
        {
            padding: 0 0 0 12px;
            margin: 0 0 0 5px;
            font: bold 11px/24px Arial, Helvetica, sans-serif;
            color: #0485D6;
        }
        #map_extend.justlink .botao_rota a.open
        {
            
        }
        #map_extend.justlink .botao_rota a.contract
        {
            
        }
        #map_extend.justlink .div_router
        {
            display: none;
        }
        #map_extend.justlink .router
        {
            width: 280px;
            height: 65px;
            padding: 10px 10px 0 10px;
            border-bottom: solid 1px #DBDBDB;
            border-left: solid 1px #DBDBDB;
            border-right: solid 1px #DBDBDB;
            border-top: solid 1px #EEEEEE;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#ECECEC'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC)); /* for webkit browsers */
            background: -moz-linear-gradient(top,  #F9F9F9,  #ECECEC); /* for firefox 3.6+ */
            -webkit-border-bottom-right-radius: 8px;
            -webkit-border-bottom-left-radius: 8px;
            -moz-border-radius-bottomleft: 8px;
            -moz-border-radius-bottomright: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            display: none;
        }
        .maps
        {
            border: solid 1px #fff;
            display: block;
            overflow: hidden;
            clear: both;
            width: 425px;
        }
        .noticiaswidget
        {
            border: solid 1px #ECECEC;
            background-color: #fff;
        }
        .noticias_loading
        {
            display: none;
            
        }
        ul.lista_noticias
        {
            list-style: none outside none;
            margin: 0;
            padding: 0 3px;
        }
        ul.lista_noticias li
        {
            border-bottom: solid 1px #f6f6f6;
            padding: 10px 5px;
        }
        span.noticia_type
        {
            background-color: #0085DE;
            color: #fff;
            font: bold 11px Arial, Helvetica, sans-serif;
            padding: 2px 5px;
        }
        ul.lista_noticias li h2
        {
            line-height: 15px;
            display: inline;
            font: bold 11px Arial, Helvetica, sans-serif;
            color: #666;
            margin-left: 3px;
        }
        ul.lista_noticias li h2 a
        {
            color: #666666;
            text-decoration: none;
        }
        ul.lista_noticias li h2 a:hover
        {
            text-decoration: underline;
        }
        a.maisnoticias
        {
            padding: 0 8px 0 0;
            margin: 0 0 0 5px;
            font: bold 11px/28px Arial, Helvetica, sans-serif;
            color: #0485D6;
            
            text-align: right;
            line-height: 40px;
        }
        .noticiaswidget img.logo
        {
            float: right;
            margin: 4px 5px 0 0;
        }
        /* Menu de navegacao do hotsite de widgets */#menu ul
        {
            list-style: none;
            padding-top: 8px;
        }
        #menu ul li a, #menu ul li a:visited
        {
            font: normal 20px/45px Lucida Grande, Tahoma, Arial, Geneva, sans-serif;
            text-decoration: none;
            color: #797979;
            
            padding-right: 33px;
        }
        #menu ul li a:hover
        {            
        }
        #menu ul li a:hover, #submenu ul li a:hover
        {
            text-decoration: underline;
            color: #333;
        }
        #submenu ul
        {
            list-style: none;
            margin: 0 0 15px 0;
            padding: 0;
        }
        #menu ul li a.down
        {
            
            text-decoration: none;
        }
        #menu ul li a.ativo
        {
            
            text-decoration: none;
        }
        #submenu ul li a, #submenu ul li a:visited, #submenu ul li a:hover
        {
            font: normal 13px/20px Lucida Grande, Tahoma, Arial, Geneva, sans-serif;
            background: none;
            color: #0485D6;
        }
        /* Novo menu */.navigation
        {
            width: 100%;
            float: left;
            background: #348be7;
            background: -webkit-gradient(linear, left top, left bottom, from(#4a9bea), to(#217ce5));
            background: -moz-linear-gradient(top, #4a9bea, #217ce5);
            filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#4a9bea', EndColorStr='#217ce5', GradientType=0);
            border-bottom: 1px solid #165399;
            border-top: 1px solid #fff;
            z-index: 99999999;
            position: relative;
            font-family: "HelveticaNeue-Light" , "Helvetica Neue Light" , "Helvetica Neue" ,Helvetica,arial,sans-serif;
            font-weight: 300;
            letter-spacing: -0.5%;
            margin-bottom: 15px;
        }
        ul.main_navigation
        {
            font-size: 14px;
            font-weight: bold;
            width: 760px;
        }
        ul.main_navigation li
        {
            float: left;
            display: inline;
            line-height: 36px;
        }
        ul.main_navigation li a
        {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 0 15px;
            font-size: 14px;
            text-shadow: #0f43a2 0 1px 0;
        }
        ul.main_navigation li a.small
        {
            font-size: 12px;
        }
        .Selo_Maplink_Top_ad
        {
            width: 190px;
            height: 30px;
            overflow: hidden;
            margin-top: 3px;
            float: right;
        }
        /* dropdown */ul.dropdown, ul.dropdown li, ul.dropdown ul
        {
            list-style: none;
        }
        ul.dropdown
        {
            position: relative;
            z-index: 9999997;
            float: left;
        }
        ul.dropdown li
        {
            float: left;
            zoom: 1;
            border: 1px solid transparent;
            border-width: 0 1px;
            font-size: 12px;
            font-weight: 300;
        }
        ul.dropdown li .dir
        {
            
            padding-right: 20px !important;
        }
        ul.dropdown li.hover, ul.dropdown li:hover, ul.dropdown li.selected
        {
            position: relative;
            z-index: 9999999;
            cursor: default;
            background: #2271cc; /*border-left-color:#165399;
	border-right-color:#165399;*/
        }
        ul.dropdown li.hover, ul.dropdown li:hover
        {
            border-left-color: #165399;
            border-right-color: #4a9bea;
        }
        ul.dropdown ul
        {
            visibility: hidden;
            position: absolute;
            top: 100%;
            z-index: 9999998;
            width: 200px;
            background: #2271cc;
            border: 1px solid #165399;
            border-width: 0 1px 1px;
            padding: 0 10px;
            left: -1px;
        }
        ul.dropdown ul li
        {
            float: none;
            padding: 0;
            margin: 0;
            display: block;
            border: 0 !important;
        }
        ul.dropdown ul li a
        {
            font-weight: bold;
            font-size: 12px;
            border: 1px solid #006bb3;
            border-width: 1px 0;
            border-bottom-color: #165399;
            border-top-color: #4a9bea;
            padding: 2px 5px;
        }
        ul.dropdown ul li:last-child a
        {
            border-bottom: 1px solid transparent;
        }
        ul.dropdown ul li a:hover
        {
            color: #a5cdf5;
            border-width: 1px 0;
            text-shadow: #000 0 1px 0;
        }
        ul.dropdown ul ul
        {
            top: 1px;
            left: 99%;
        }
        ul.dropdown li:hover > ul
        {
            visibility: visible;
        }
        .dirfirstItem a
        {
            border-top: 0 !important;
        }
        .dirlastItem a
        {
            border-bottom: 0 !important;
        }
        .doubleline
        {
            line-height: 12px;
            padding: 10px 5px !important;
            font-weight: bold;
        }
        .doubleline span
        {
            font-weight: normal;
            color: #f0f0f0;
            text-shadow: none;
        }
        .navigation .login
        {
            font-size: 0.688em;
            width: 300px;
            margin-right: 0;
            text-align: right;
            color: #fff;
        }
        .navigation .login a
        {
            color: #fff;
        }
        .login_image
        {
            vertical-align: middle;
        }
        .navigation .login p
        {
            line-height: 45px;
            margin-bottom: 0;
        }
        .breadcrumbs
        {
            font-family: "HelveticaNeue-Light" , "Helvetica Neue Light" , "Helvetica Neue" ,Helvetica,arial,sans-serif;
            font-weight: 300;
            margin: 10px auto;
            line-height: 14px;
            font-size: 12px;
        }
        .breadcrumbs a
        {
        }
        .breadcrumbs a.active
        {
            color: #0085de;
            text-decoration: underline;
        }
        .advertising
        {
            padding: 3px 0;
            float: right;
            height: 90px;
        }
        .superbanner, .minibanner
        {
            float: left;
            margin-left: 10px;
            margin-right: 15px;
            background: #666;
            line-height: 0;
        }
        .container .logo
        {
            float: left;
            margin: 15px 15px 0 0;
            line-height: 0;
        }
        /* novo footer azul*/.footer
        {
            background: #007ed2;
            border-top: 1px solid #00558E;
            float: left;
            font-size: 11px;
            padding: 0;
            border-bottom: 0;
            width: 100%;
        }
        .footer div.wrapper
        {
            padding: 10px;
            margin: 0;
            border-top: 1px solid #069bff;
        }
        .footer .container
        {
            padding: 0 0 10px;
        }
        .footer ul
        {
            list-style: none;
            margin: 0 0 18px;
            float: left;
            width: 25%;
        }
        .footer ul li h4
        {
            color: white;
            text-shadow: #00558E 0 1px 0;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: normal;
            line-height: 36px;
        }
        .footer ul li
        {
            line-height: 18px;
        }
        .footer ul li a
        {
            color: #fff;
            text-decoration: none;
            line-height: 16px;
        }
        .footer ul li a:hover
        {
            text-decoration: underline;
        }
        .footer .wrapper span.novo
        {
            background-color: #ffffff;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #0085DE;
            font-size: 9px;
            font-weight: bold;
            padding: 1px 2px;
            margin: 0 3px 0 0;
        }
        .footerbottom
        {
            font-size: 11px;
            float: left;
            width: 100%;
        }
        .footerbottom .container
        {
            
        }
        .footerbottom ul
        {
            padding-left: 110px;
            margin: 5px 0;
            clear: both;
        }
        .footerbottom ul li
        {
            float: left;
            display: inline;
            margin-right: 10px;
        }
        .footerbottom p
        {
            padding-left: 110px;
            font-size: 11px;
        }
    </style>
</head>
<body>
    <div id="mapa" style='height: @(@Model.Fr != "1" ? String.Format("{0}px", @Model.Height) : String.Format("{0}px", int.Parse(@Model.Height) - 105));width: @string.Format("{0}px", @Model.Width);'>
    </div>
    <div id="map_extend" class="full" style="width: @String.Format("{0}px", int.Parse(@Model.Width) - 2); display: none;">
        <div id="botao_comochegar" class="botao_rota">
            <a class="open" title="Confira o caminho até este endereço" href="javascript:void();">
                Como chegar neste endereço</a></div>
        <div>
            <div id="widget_ac" style="display:none;">
                <div class="left">
                    <div class="ui-widget">
                        <span class="left"><strong class="left">De:</strong></span> <span class="right ml5">
                            <input type="text" id="wCidadeEstado1" />
                            <input type="text" id="wEndereco1" />
                        </span>
                    </div>
                    <br clear="all" />
                    <div class="ui-widget">
                        <span class="left"><strong class="left">Para:</strong></span> <span class="right ml5">
                            <input type="text" id="wCidadeEstado2" />
                            <input type="text" id="wEndereco2" />
                            <button id="botao_ir" style="margin-left: 3px; width: 20px;">
                                Ir</button>
                        </span>
                    </div>
                </div>
                <div>
                    <span><a id="inverte_rota" href="javascript:void();">
                        <img src="@Url.Content("~/Content/images/inverte_rota.png")" align="absmiddle" alt="Clique para invertar Origem e destino" /></a></span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //try {
            autoComplete("#wCidadeEstado2", acType.city);

            autoComplete("#wEndereco2", acType.address);

            $("#wCidadeEstado2").blur(function () {
                $("#wEndereco2").attr("data-citystate", JSON.stringify({ "cidade": $("#wCidadeEstado2").val().split(',')[0], "uf": $("#wCidadeEstado2").val().split(',')[1] }));
            }).change();

            $("#wCidadeEstado1").attr("disabled", "disabled");
            $("#wEndereco1").attr("disabled", "disabled");

            if (_de != null) {
                var localDe = _de.split(',');
                $("#wCidadeEstado1").val(localDe[0] + "," + localDe[1]);
                $("#wEndereco1").val(localDe[2] + "," + localDe[3]).attr('data-point', JSON.stringify({ lat: parseFloat(localDe[5]), lng: parseFloat(localDe[4]) }));

            }

            if (_or != null && _or != '') {
                var localOr = _or.split(',');
                $("#wCidadeEstado2").val(localOr[0] + "," + localOr[1]);
                $("#wEndereco2").val(localOr[2] + "," + localOr[3]).attr('data-point', JSON.stringify({ lat: parseFloat(localOr[5]), lng: parseFloat(localOr[4]) }));

            }


            if (_fr != null && _fr == 1) {

                $("#map_extend").show();
                $("#botao_comochegar").click(function () {
                    $("#widget_ac").toggle("fast",
						function () {
						    if ($("#botao_comochegar a.open").length) {
						        $("#botao_comochegar a").removeClass("open");
						        $("#botao_comochegar a").addClass("contract");
						    }
						    else {
						        $("#botao_comochegar a").removeClass("contract");
						        $("#botao_comochegar a").addClass("open");
						    }
						});
                });
            }

            $("#inverte_rota").click(function () {
                var _cidadeDe = $("#wCidadeEstado1").val();
                var _enderecoDe = $("#wEndereco1").val();
                var _dataPointDe = $("#wEndereco1").data('point');
                var _cidadeOr = $("#wCidadeEstado2").val();
                var _enderecoOr = $("#wEndereco2").val();
                var _dataPointOr = $("#wEndereco2").data('point');

                $("#wCidadeEstado1").val(_cidadeOr);
                $("#wCidadeEstado2").val(_cidadeDe);

                $("#wEndereco1").val(_enderecoOr).data('point', _dataPointOr);
                $("#wEndereco2").val(_enderecoDe).data('point', _dataPointDe);
            });

            $("#botao_ir").click(function () {
                var locationMap = map.getCenter().x + "," + map.getCenter().y + "," + map.getZoom();

                var pt1 = null;
                var pt2 = null;
                if (typeof $("#wEndereco1").attr("data-point") == 'object')
                    pt1 = $("#wEndereco1").attr("data-point");
                else
                    pt1 = JSON.parse($("#wEndereco1").attr('data-point'));


                if (typeof $("#wEndereco2").attr("data-point") == 'object')
                    pt2 = $("#wEndereco2").attr("data-point");
                else
                    pt2 = JSON.parse($("#wEndereco2").attr('data-point'));

                //                var pt1 = $("#wEndereco1").attr("data-point");
                //                var pt2 = $("#wEndereco2").attr("data-point");

                var routesPoints = pt1.lat + "," + pt1.lng + ";" + pt2.lat + "," + pt2.lng

                var innerUrl = "http://" + location.host.split("?")[0] + "/?" + [
                    'loc=' + locationMap,
                    'pts=' + routesPoints].join("&");

                window.open(innerUrl);
            });
        //} catch (err) {
        //}
    </script>
</body>
</html>
