﻿@{
    Layout = null;
}
@model List<WidgetMaplink.Models.ViewModel.WidgetsNews>
<!DOCTYPE html>
<html>
<head>
    <title>NewsWidgets</title>
    <style type="text/css">
            * {margin:0; padding:0;}
body {
    color: #797979;
    font: 12px/22px Lucida Grande,sans-serifTahoma,Arial,Geneva,sans-serif;
    padding:0!important;
    margin:0!important;
    overflow:auto;
}

.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

h1{font:bold 26px/32px "Helvetica Neue", Helvetica, Arial, sans-serif; color:#4E4E4E; margin-top:15px;}
h2{font:normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif; color:#949494;}
h3{font:bold 15px "Helvetica Neue", Helvetica, Arial, sans-serif; color:#4e4e4e; margin-bottom:5px;}
h4{font:normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif; color:#949494;}
h5{font:normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif; color:#949494;}
h1, h2, h3, h4 {text-shadow:0 1px #FFFFFF;}

.noticiaswidget {border:solid 1px #ECECEC; background-color:#fff;overflow:auto;}

.noticias_loading { display:none;}
ul.lista_noticias { list-style:none outside none; margin:0; padding:0 3px;}
ul.lista_noticias li{ border-bottom:solid 1px #f6f6f6; padding:10px 5px;}
span.noticia_type { background-color:#0085DE; color:#fff; font:bold 11px Arial, Helvetica, sans-serif; padding:2px 5px;}
ul.lista_noticias li h2{ line-height:15px; display:inline; font:11px Arial, Helvetica, sans-serif; color:#666; margin-left:3px;}
ul.lista_noticias li h2 a { color:#666666; text-decoration:none;}
ul.lista_noticias li h2 a:hover {text-decoration:underline;}
.widget_news .footer a.maisnoticias {padding:0 8px 0 0; margin:0 0 0 5px; font:bold 11px/28px Arial, Helvetica, sans-serif; color:#0485D6; text-align:right;line-height:40px;}
.widget_news .footer img.logo {float:right;margin:4px 5px 0 0;}
.widget_news .footer {background-color: #FFFFFF;border-bottom: 1px solid #ECECEC;border-left: 1px solid #ECECEC;border-right: 1px solid #ECECEC;}

    </style>
</head>
<body>
    <div class="widget_news" style="height:@Model.First().Height px;width:@Model.First().Width px;">
        <div class="header">
        </div>
        <div class="widget_news_content">
            <div id="noticiaswidget" class="noticiaswidget">
                <ul id="lista_noticias" class="lista_noticias">
                    @foreach (var item in Model)
                    {
                        <li><span class="noticia_type">@item.Category </span>
                            <h2>
                                <a target="_blank" href="@item.Url">@item.Date - <strong>@item.Title</strong></a>
                            </h2>
                            @if (@item.FlagText.Equals("1"))
                            {
                                <h5>@item.Description.Substring(0, Math.Min(@item.Description.Length, 100)) ...</h5>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="footer clearfix">
            <a target="_blank" href="http://maplink.com.br/noticias/@Model.First().State/@Model.First().City" class="maisnoticias">
                @(@Model.First().Width < 300 ? "Leia mais" : "Leia mais notícias sobre trânsito") >>>
            </a>
            <img class="logo" src="@Url.Content("~/Content/images/logo_maplink_slim.png")" alt="Maplink" />
        </div>
    </div>
</body>
</html>
