﻿@{
    Layout = null;
}
@model WidgetMaplink.Models.ViewModel.ComoChegar
@{System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("en-US");}
<!DOCTYPE html>
<html>
<head>
    <title>PoiWidgets</title>
    <script type="text/javascript">
        var _lat = @Model.place.location.lat.ToString(ci);
        var _lng = @Model.place.location.lng.ToString(ci);
        var _zoom = @ViewBag.Zoom; 
        var _tile = "@ViewBag.Tile"
    </script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["urlAPI"]"></script>    
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.8.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-1.8.23.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Widget.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/AutoComplete.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.highlight-3.js")"></script>
    <style type="text/css">
        body
        {
            margin:0px!important;
            padding:0px!important;
            font-family:Arial;
            font-size:11px;
        }
        a{color: #5281F9;}
    </style>
</head>
<body>
    <div>
        <div id="mapa" style='height: @string.Format("{0}px", @ViewBag.Height) ;width: @string.Format("{0}px", @ViewBag.Width);'>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var latlng = new GLatLng(_lat, _lng);
            var rev;
            if (@Model.place.statistics.reviews == 1)
                rev = @Model.place.statistics.reviews + " Avaliação";
            else
                rev = @Model.place.statistics.reviews + " Avaliaç&otilde;es";

            var codigoHTML = null;

            codigoHTML = "<div style='padding:5px; background-color:#F7F7F7; margin: 0 0 -5px;'>"
		    + "	<span style='font-weight:bold;font-size:12px;'>"
		    + "		<a href='@Model.place.urlApontador' target='_blank'>@Model.place.name</a>"
		    + "	</span><br />"
		    + "	<span style='font-size:11px;'>"
		    + "Média: @Model.place.statistics.rating  - <b style='font-size:11px;'>" + rev + "</b>"
		    + "	</span><br />"
		    + "	<span style='font-size:10px'>"
		    + "@Model.place.address.street <br /> @Model.place.address.city, @Model.place.address.state"
		    + "	</span>"
		    + "</div>"
		    + "<div class=\"column InfoWin\">"
		    + "	<ul style=\"display:inline;\">"
		    + "		<li style=\"float:left;\">"
		    + "			<a style=\"padding-right:12px;padding-left:12px; font-weight: bold;\" target='_blank' href='@Model.place.urlApontador'>"
		    + "				+ Informaç&otilde;es"
		    + "			</a>"
		    + "		</li>"
		    + "	</ul>"
		    + "</div>";

            var icon = new GIcon();	
	        icon.iconSize = new GSize(44, 44);
	        icon.iconAnchor = new GPoint(22/2, 35);
	        icon.infoWindowAnchor = new GPoint(22/2, 0);
	        icon.image = 'Content/images/pin-azul.png';
            
            map.clearMarkers();

            mmarker = new MMarker(new MPoint(_lng, _lat), icon);


            map.addMarker(mmarker);

            GEvent.addListener(mmarker, "click", function(latlng) {
	    	    mmarker.openInfoWindow(codigoHTML, {autosize : true, maxSize : new GSize(260, 400),minSize : new GSize(250, 40)});
	        });
        });
    </script>
</body>
</html>
