﻿@{
    Layout = null;
}
@{System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("en-US");}
<!DOCTYPE html>
<html>
<head>
    <title>RoutesWidgets</title>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["urlAPI"]"></script>
    <link rel="stylesheet"         href="@Url.Content("~/Content/css/custom-theme/jquery-ui-1.8.23.custom.css")" />
    <link rel="stylesheet"         href="@Url.Content("~/Content/css/base.css")" />
    <link rel="stylesheet"         href="@Url.Content("~/Content/css/theme.css")" />
    <link rel="stylesheet"         href="@Url.Content("~/Content/css/reset.css")" />
    <link rel="stylesheet"         href="@Url.Content("~/Content/css/tips.css")" />
    <link rel="stylesheet"         href="@Url.Content("~/Content/css/components.css")" />
    <link rel="stylesheet"         href="@Url.Content("~/Content/css/transito.css")" />
    <link rel="stylesheet"         href="@Url.Content("~/Content/css/lay-home.css")" />
    <link rel="stylesheet"         href="@Url.Content("~/Content/css/rota.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.8.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-1.8.23.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/AutoComplete.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/WidgetsRoutes.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/json2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.highlight-3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.placeholder.js")"></script>
    <script type="text/javascript">
        var _destino = "@ViewBag.Destino";
        var _lat = @ViewBag.Lat.ToString(ci);
        var _lng = @ViewBag.Lng.ToString(ci);
        var _zoom = @ViewBag.Zoom;        
        var _image = "@ViewBag.Image";
        var _zControl = "@ViewBag.ZControl";
        var _mControl = "@ViewBag.MControl";
        var _urlAutoComplete = "@Url.Action("AutoComplete", "Widget")"
        var _tile = "@ViewBag.Tile";
        $(function() {
         // Invoke the plugin
            $('input, textarea').placeholder();
        });

        if (!Modernizr.input.placeholder) {
            $("input[placeholder]").each(function () {
                var placeholder = $(this).attr("placeholder");

                $(this).val(placeholder).focus(function () {
                    if ($(this).val() == placeholder) {
                        $(this).val("")
                    }
                }).blur(function () {
                    if ($(this).val() == "") {
                        $(this).val(placeholder)
                    }
                });
            });
        }
    </script>
    <style type="text/css">
        body
        {
            margin: 0px !important;
            padding: 0px !important;
        }
    </style>
</head>
<body>
    <div class="container clearfix" style="width:@string.Format("{0}px", @ViewBag.Width);  ">
        <div class="left" style="width: 320px; margin: 10px;">
            <div class="box gParadas">
                <div>
                    <ul id="origem">
                        <li class="parada origem comCity">
                            <div class="pin a">
                                A</div>
                            <input type="text" data-point="" class="city" placeholder="Cidade, UF" id="wCidadeEstado1"
                                style="width: 80px;" />
                            &nbsp;
                            <input type="text" data-point="" class="address" placeholder="Endereço, nº" id="wEndereco1"
                                style="width: 110px;" />@*<span class="x" title="Limpar campos">x</span>*@
                        </li>
                    </ul>
                </div>
                <br clear="all" />
                <div>
                    <div>
                        <ul id="destino">
                            @if (!string.IsNullOrEmpty(ViewBag.Destino))
                            {                                                                            
                                <li class="parada destino comCity">
                                    <div class="pin b">
                                        B</div>
                                    <span style="font-size: 14px; font-weight: bold; line-height: 18px; margin-right: 2px;
                                        color: #333;"><strong>@ViewBag.Destino</strong></span>
                                    <input type="hidden" data-point="" class="city" id="wCidadeEstado2" />
                                    <input type="hidden" data-point="" class="address" id="wEndereco2" />
                                </li>
                            }
                        </ul>
                        <div>
                            <span style="float: right; margin: -40px 5px 0px 0px;"><a id="inverte_rota" href="javascript:void(0);">
                                <img src="@Url.Content("~/Content/images/inverte_rota.png")" align="absmiddle"
                                    alt="Clique para inverter Origem e destino" /></a></span>
                        </div>
                    </div>
                </div>
                <hr class="light north dotted" />
                <div class="box busca">
                    <span class="button buscar right" id="botao_ir">Encontrar</span></div>
            </div>
            <section class="contentRota" style="border-top: none!important">
            <div class="descricao hide" style="height:206px; overflow:auto";>
               
                <div class="box resumoRota light">
                    <div class="pin small a left">
                    </div>
                    <div class="calculo left">
                        <b class="distancia"><em></em>km</b> @*<b class="tempo"><em>13</em>min</b>*@
                    </div>
                    <div class="pin small b right">
                    </div>
                </div>
                <div class="steps">
                </div>
            </div>
            </section>
        </div>
        <div class="left" style="width: @string.Format("{0}px", (int.Parse(@ViewBag.Width) - 340));">
            <div id="mapa" class="map" style="float:right;width: @string.Format("{0}px", (int.Parse(@ViewBag.Width) - 340));height: @string.Format("{0}px", @ViewBag.Height);">
            </div>
        </div>
    </div>
</body>
</html>
