﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>TileWidgets</title>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["urlAPI"]"></script>
    <style type="text/css">
        body
        {
            margin:0px;
            padding:0px;
            }
    </style>
</head>
<body>
    <div id="map" class="map_widget" style="width: @string.Format("{0}px", @ViewBag.Width);height: @string.Format("{0}px", @ViewBag.Height);">

        <a href="javascript:void(0);" id="dynamic_map_link">
            <img style="border: 0px;" alt=""
                src="@Url.Action("Index", "Widget", new { v = "4.1", lat = ViewBag.lat, lng = ViewBag.lng, w = ViewBag.Width, h = ViewBag.Height,  m = ViewBag.Meters, image= ViewBag.image, count=0 })" />
        </a>

    </div>
    @if (ViewBag.dynamic == "1")
    {
    <script type="text/javascript">
        document.getElementById("dynamic_map_link").onclick = function() {            
                window.location.href = "@Html.Raw(Url.Action("LatLngWidgets", "Widget", new { lat = ViewBag.lat, lng = ViewBag.lng, w = ViewBag.Width, h = ViewBag.Height, z = 16, maptip = "no", zcontrol = "small", mcontrol = "yes", image = ViewBag.image }))";
            }
    </script>
    }
</body>
</html>
