﻿/*@import url(reset.css);
@import url(components.css);
@import url(theme.css);*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/* base */

body { overflow-x: hidden; background-color: #ffffff; font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

body .main > .content { color: #555; font-size: 13px; line-height: 20px; padding-top: 10px; }

:focus { outline: none; }

::selection,
::-moz-selection,
::-webkit-selection { background: #3b88cb; color: white; }

h1, h2, h3, h4, h5, h6 { font-family: 'Droid Sans', sans-serif; }

a { color: #5194cd; cursor: pointer; text-decoration: none; }

a:hover { text-decoration: underline; }

/* components */

.button { cursor: pointer; }

/* adjusts */

.left { float: left; }

.right { float: right; }

.center { text-align: center; margin-left: auto; margin-right: auto; }

.hide { display: none !important; }

.clear_l { clear: left; }

.clear_r { clear: right; }

.box { display: block; }

.wrap { overflow: hidden !important; }

.line { display: block !important; overflow: hidden; clear: both; float: none !important; }

[class^="col-"], [class$="-col"] { display: inline-block; float: left; }

.center { text-align: center; }

.tiny { display: inline-block; overflow: hidden; width: 1px; height: 1px; }

.capfix { text-transform: capitalize; }

.lowfix { text-transform: lowercase; }

.upfix { text-transform: uppercase; }

.s { margin-bottom: 5px; }
.n { margin-top:    5px; }
.e { margin-left:   5px; }
.w { margin-right:  5px; }

.north { margin-top:     10px; }
.south { margin-bottom:  10px; }
.east  { margin-left:    10px; }
.west  { margin-right:   10px; }

[class~"pt"] { padding-top: 10px; }
[class~"pr"] { padding-right: 10px; }
[class~"pl"] { padding-left: 10px; }
[class~"pb"] { padding-bottom: 10px; }
      
[class~="bt"] { border-top: 1px solid #ddd; }
[class~="br"] { border-right: 1px solid #ddd; }
[class~="bl"] { border-left: 1px solid #ddd; }
[class~="bb"] { border-bottom: 1px solid #ddd; }

.ui-autocomplete { z-index: 99999 !important;}

.main .container_12 strong { font-weight: bold; }

/* background colors */

.bgDark { background: #333; }

.bgLight {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 50%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f8f8f8), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);    
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}

.bgRed { background: #e2535e; }

.bgOrange { background: #f90; }

.bgYellow { background: #fed11d; }

.bgGreen { background: #6fbb2f; }

.bgBlue { background: #3b88cb; }

/* font colors */

.clBlue { color: #3b88cb; }

.clDark { color: #333; }

.clLight,
.clLight a { color: #999; }

.cl-green { color: #6fbb2f; }

.cl-red { color: #e2535e; }

.cl-orange { color: #f90; }

.cl-yellow { color: #fed11d; }

/* lines */

hr { width: 100%; border: none; border-bottom: 1px solid #ddd; }

hr.sep { border-color: transparent; }

hr.bold { border-bottom-width: 3px; }

hr.light { border-color: #f5f5f5; }

.alertbox
{
    font-size:12px;border:1px solid rgb(255, 218, 91);background-color:rgb(253, 255, 228);padding:5px;margin:5px;
}
.alertbox p{padding:0 !important;}

#mapaMenuHome
{
    display: none;   
    z-index: 9999999999;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(115, 115, 115, 0.7);
    box-shadow: 1px 1px 2px 0px rgba(115, 115, 115, 0.7);
    background-color:#3381C4;
    background-color: rgba(51, 129, 196, 0.9);
    border-radius: 6px 6px 6px 6px;
    color: white;
    font-size: 10px;
    font-weight: normal;
    height: auto;
    line-height: 12px;
    position: fixed;
    text-transform: uppercase;
    width: 180px;

}
#mapaMenuHome li
{
    cursor:pointer;
    border-bottom: 1px dotted;
    margin:0 5px;
    padding: 5px;
}
#mapaMenuHome li:last-child {border-bottom:none;margin-bottom:5px;}
#mapaMenuHome li:first-child {margin-top:5px;} 
#mapaMenuHome li:hover
{
    background-color: #fff;
    color: #3381C4 
}