﻿/* loading */

#masterLoading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    z-index: 999999;
    text-align: center;
}

#masterLoading p {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
    color: #999;
    text-shadow: 0 2px 0 #fff;
}

#masterLoading p sub { position: relative; top: 3px; font-size: 12px; }

/* input text */

a.x {
    width: 30px;
    height: 30px;
    background: url(../images/sprite-maplink.png) -90px -1015px no-repeat;
    display: inline-block; 
    text-indent: -9999em;
    cursor: pointer;
    opacity: 0.2;
    position: relative;
} 

a.x:hover,
span.geo:hover { opacity: 1; }

span.geo { 
    background: url(../images/sprite-maplink.png) -90px -534px no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block; 
    text-indent: -9999em;
    cursor: pointer;
    opacity: 0.2;
    position: relative; 
}

input[type=text] + .x,
input[type=text] + span.geo { 
	margin-left: -35px;
    margin-bottom: -10px;
}

.north + span.geo { 
    margin-top: 10px;
}

/*.main section figure { box-shadow: 0 2px 3px #ccc; -webkit-box-shadow: 0 2px 3px #ccc; -webkit-box-shadow: 0 2px 3px #ccc; display: block; overflow: hidden; }
*/
.main section figure img {  color: #f2f2f2; background: #f2f2f2 url(../images/place-image.png) center center no-repeat; }

.como-chegar-localizacao .buscar { width: 130px !important; }

/* zonas */

.zonas-container-box sub { font-weight: normal; font-size: 11px; }

.zonas-container-box .ui-button-text { padding-left: .27em; padding-right: .27em; }

/*
input[type=text].north + .x,
input[type=text].north + span.geo { top: 10px; }
*/

input[class^="grid_"] + .x,
input[class^="grid_"] + span.geo { left: -5px; }

input[class^="omega"] + .x,
input[class^="omega"] + span.geo { left: 0; }


input.alpha, textarea.alpha { position: relative; left: 1px; }

.main input[type=text],
.main textarea { margin-bottom: 20px !important; }

.container_12 input[type=text].grid_1  { width: 40px;  }
.container_12 input[type=text].grid_2  { width: 120px; }
.container_12 input[type=text].grid_3,
.container_12 textarea.grid_3          { width: 200px; }
.container_12 input[type=text].grid_4,
.container_12 textarea.grid_4          { width: 280px; }
.container_12 input[type=text].grid_5,
.container_12 textarea.grid_5          { width: 360px; }
.container_12 input[type=text].grid_6  { width: 440px; }
.container_12 input[type=text].grid_7  { width: 500px; }
.container_12 input[type=text].grid_8  { width: 600px; }
.container_12 input[type=text].grid_9  { width: 680px; }
.container_12 input[type=text].grid_10 { width: 760px; }
.container_12 input[type=text].grid_11 { width: 840px; }
.container_12 input[type=text].grid_12 { width: 920px; }

input[type=text], textarea {
	padding: 0 10px;
	font-size: 12px;
	color: #888;
    
    background: #fff;
    background: rgba(255, 255, 255, 1);
	
    box-shadow: inset 0 2px 1px #f5f5f5;
	-moz-box-shadow: inset 0 2px 1px #f5f5f5;
	-webkit-box-shadow: inset 0 2px 1px #f5f5f5;
    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	
    border: 1px solid #ddd;
    outline: 1px solid #fff;
}

.container_12 textarea.grid_5 { max-width: 360px; }

textarea { max-height: 200px; min-height: 60px; padding-top: 10px; }

input[type=text] { height: 30px; }

input[type=text]:focus {
	border-color: #bbb;
    color: #555;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* box */

.box.light {
    padding: 10px;
	border: 0;   
	color: #666;                 
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 50%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f8f8f8), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);    
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	box-shadow: 0 1px 3px #aaa;
	-moz-box-shadow: 0 1px 3px #aaa;
	-webkit-box-shadow: 0 1px 3px #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	text-shadow: 0 1px 0 #fff;
    font-size: 12px;
    color: #666;
}

.box.dark {
    padding: 10px;
	border: 0;   
	color: white;                 
	color: rgba(255, 255, 255, 0.9);                 
	background: #888888; 
	background: -moz-linear-gradient(top,  #888888 0%, #5e5e5e 50%, #353535 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888888), color-stop(50%,#5e5e5e), color-stop(100%,#353535)); 
	background: -webkit-linear-gradient(top,  #888888 0%,#5e5e5e 50%,#353535 100%); 
	background: -o-linear-gradient(top,  #888888 0%,#5e5e5e 50%,#353535 100%); 
	background: -ms-linear-gradient(top,  #888888 0%,#5e5e5e 50%,#353535 100%);
	background: linear-gradient(top,  #888888 0%,#5e5e5e 50%,#353535 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#353535',GradientType=0 ); 
	box-shadow: 0 1px 3px #aaa;
	-moz-box-shadow: 0 1px 3px #aaa;
	-webkit-box-shadow: 0 1px 3px #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
    font-size: 12px;
}

.box.blue {
    padding: 10px;
	border: 0;   
	color: white;    
	color: rgba(255, 255, 255, 0.9);                 
	background: #42a8ff; 
	background: -moz-linear-gradient(top,  #42a8ff 0%, #388dd5 50%, #2d72ae 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#42a8ff), color-stop(50%,#388dd5), color-stop(100%,#2d72ae)); 
	background: -webkit-linear-gradient(top,  #42a8ff 0%,#388dd5 50%,#2d72ae 100%); 
	background: -o-linear-gradient(top,  #42a8ff 0%,#388dd5 50%,#2d72ae 100%); 
	background: -ms-linear-gradient(top,  #42a8ff 0%,#388dd5 50%,#2d72ae 100%);
	background: linear-gradient(top,  #42a8ff 0%,#388dd5 50%,#2d72ae 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a8ff', endColorstr='#2d72ae',GradientType=0 ); 
	box-shadow: 0 1px 3px #aaa;
	-moz-box-shadow: 0 1px 3px #aaa;
	-webkit-box-shadow: 0 1px 3px #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
    font-size: 12px;
}

.box.light h3 {
    font-weight: bold;
    font-size: 12px;
    color: #999;
    position: relative;
    max-width: 70%;
}

.box.light .x {
    position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
    margin: -10px -10px 0 0;
	text-indent: -9999em;
	overflow: hidden;
	background: url(../images/sprite-maplink.png) -90px -1015px no-repeat;
	opacity: 0.25;
    cursor: pointer;
}

.box.light .x:hover {
    opacity: 1;
}

.fly-box {
    background: rgba(255, 255, 255, 0.97);
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 99999999;
    overflow: hidden;
    padding: 20px;
    display: none; 
    width: 280px;
    box-shadow: 0 1px 4px #888;
}

.fly { background: white; padding: 10px; position: absolute; border: 1px solid #aaa; border-top: 3px solid #3381C4; display: none; }

/* tip */

.tip {
    position: absolute;
    z-index: 999999;
}

input.ui-button, button.ui-button { margin-left: 0; margin-top: 0; margin-bottom: 0; }

input.ui-button.ui-state-active, input.ui-button.ui-widget-content .ui-state-active, input.ui-button.ui-widget-header .ui-state-active,
button.ui-button.ui-state-active, button.ui-button.ui-widget-content .ui-state-active, button.ui-button.ui-widget-header .ui-state-active {  }

/* button circle light */

.circleButton.light {
    display: inline-block;
    width: 20px;
	height: 20px;
	text-align: center;
	font-size: 11px;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
	color: #666;                 
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 50%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f8f8f8), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);    
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	box-shadow: 0 1px 3px #aaa;
	-moz-box-shadow: 0 1px 3px #aaa;
	-webkit-box-shadow: 0 1px 3px #aaa;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border: 1px solid #ddd;
	text-shadow: 0 1px 0 #fff;
    font-size: 13px;
}

.circleButton.light.selected,
.circleButton.light:active,
.circleButton.light:focus {                  
	background: #f2f2f2; 
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #ececec 50%, #e6e6e6 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(50%,#ececec), color-stop(100%,#e6e6e6)); 
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ececec 50%,#e6e6e6 100%); 
	background: -o-linear-gradient(top,  #f2f2f2 0%,#ececec 50%,#e6e6e6 100%); 
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#ececec 50%,#e6e6e6 100%);
	background: linear-gradient(top,  #f2f2f2 0%,#ececec 50%,#e6e6e6 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 ); 	
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2) !important;
}

.circleButton.light:hover {                      
	background: #ffffff; 
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 50%, #dedede 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#eeeeee), color-stop(100%,#dedede)); 
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 50%,#dedede 100%); 
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 50%,#dedede 100%); 
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 50%,#dedede 100%);
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 50%,#dedede 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); 
} 

/* grouped buttons */

.gButtons {
	height: 30px;
	cursor: default;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 50%, #bfbfbf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#e6e6e6), color-stop(100%,#bfbfbf));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 50%,#bfbfbf 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 50%,#bfbfbf 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 50%,#bfbfbf 100%);
	background: linear-gradient(top,  #ffffff 0%,#e6e6e6 50%,#bfbfbf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfbfbf',GradientType=0 );
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow:         0 1px 3px #aaa;
	-moz-box-shadow:    0 1px 3px #aaa;
	-webkit-box-shadow: 0 1px 3px #aaa;
    overflow: hidden;
}

.gButtons.short {
    height: 25px;
}

.gButtons.short .button {
    font-size: 11px;
    line-height: 25px;
}

.gButtons.short .button.selected,
.gButtons.short .button.ui-selected,
.gButtons.short .button.ui-state-active {
    line-height: 20px;
}

.gButtons .button {
	height: 30px;
    color: #888;
    text-shadow: 0 0 1px white;
	border: 0;
    margin: 0;
    padding: 0;
	cursor: pointer;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 50%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f8f8f8), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	float: left;
	margin-right: 1px;
}

.gButtons .button a {
    display: block;
    text-decoration: none;
    color: #888;
}

.gButtons .icon-only-buttons .button {
    width: 30px;
}

.gButtons .button.selected,
.gButtons .button.ui-selected,
.gButtons .button.ui-state-active {
	border-top: 3px solid #3381c4;
	position: relative;
    margin-bottom: -3px;
    background: #fff;
    line-height: 25px;
    height: 27px;
}

.gButtons .button:hover,
.gButtons .button.ui-state-hover {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 50%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f4f4f4), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 50%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 50%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 50%,#f2f2f2 100%);
	background: linear-gradient(top,  #ffffff 0%,#f4f4f4 50%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}

.gButtons .button.l.selected,
.gButtons .button.l.ui-selected,
.gButtons .button.l.ui-state-active,
.gButtons .button.l {
	border-radius: 5px 0 0 5px;
}

.gButtons .button.r.selected,
.gButtons .button.r.ui-selected,
.gButtons .button.r.ui-state-active,
.gButtons .button.r {
	margin-right: 0;
	border-radius: 0 5px 5px 0;
}

.gButtons.no-action .button { cursor: auto; }

.gButtons.no-action .button.selected,
.gButtons.no-action .button.ui-selected,
.gButtons.no-action .button.ui-state-active {
	border-top: none;
    margin-bottom: 0;
    line-height: inherit;
}

.gButtons.no-aciton .button:hover,
.gButtons.no-aciton .button.ui-state-hover {
	background: none;
}

/* tile trânsito agora */

#transitoAgoraMapa.box {
	width: 170px; 
	color: white;
	cursor: default;
}

#transitoAgoraMapa.box .red {
	background: rgb(204, 0, 0);
	background: rgba(204, 0, 0, 0.9);
}

#transitoAgoraMapa.box .orange {
	background: rgb(255, 102, 0);
	background: rgba(255, 102, 0, 0.9);
}

#transitoAgoraMapa.box .yellow {
	background: rgb(255, 183, 0);
	background: rgba(255, 153, 0, 0.9);
}

#transitoAgoraMapa.box .green {
	background: rgb(0, 153, 0);
	background: rgba(0, 153, 0, 0.9);
}

#transitoAgoraMapa.box .none {
    background: #3b88cb;
	color: white;
}

#transitoAgoraMapa.box .none .traffic,
#transitoAgoraMapa.box .none .localTime {
    display:none
}

#transitoAgoraMapa.box a.goTransito {
	background: rgba(0, 0, 0, 0.2);
	color: white;
    color: rgba(255, 255, 255, 0.7);
	font-size: 13px;
	text-decoration: none;
	line-height: 16px;
	display: block;
	padding: 10px 20px;
	height: 20px;
}

#transitoAgoraMapa.box a.goTransito i {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(../images/sprite-maplink.png) -90px -745px no-repeat;
	position: relative;
	top: -5px;
	left: 5px;
	text-indent: -999em;
	overflow: hidden;
}

#transitoAgoraMapa.box a.goTransito:hover { color: rgba(255, 255, 255, 1); }

#transitoAgoraMapa.box a.goTransito:hover i { opacity: 1; }

#transitoAgoraMapa.box .white a.goTransito  { color: #666 !important; } 

#transitoAgoraMapa.box .white a.goTransito i { background-position: -90px -714px; } 

#transitoAgoraMapa.box .traffic {
	padding: 25px 20px 0;
	height: 40px;
}

#transitoAgoraMapa.box .traffic h1 {
	display: inline-block;
    font: normal 56px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	line-height: 34px;
	letter-spacing: -1px;
	white-space: nowrap;
	max-width: 95px;
    letter-spacing: -2px;
}

#transitoAgoraMapa.box .traffic small.km { font-size: 22px; }

#transitoAgoraMapa.box .localTime {
	font-size: 11px;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 20px;
	height: 50px;
    opacity: 0.7;
}
 
#transitoAgoraMapa.box .share-transito-agora a { width: 60px; height: 60px; text-indent: -9999em; display: block; overflow: hidden; position: absolute; background: url(../images/share-tile.png) no-repeat; margin-left: 90px; margin-top: -25px; }

#transitoAgoraMapa.box .share-transito-agora a.active { background-position: -60px 0; }

#fly-share { 
    font-size: 11px;
    background: white;
    padding: 10px;
    position: absolute;
    width: 350px;
    margin-left: -200px;
    margin-top: -55px;
    border-top: 3px solid #3381C4;
    box-shadow: 2px 0 2px #CCC;
    -moz-box-shadow: 2px 0 2px #CCC;
    -webkit-box-shadow: 2px 0 2px #CCC;
    display: none;
    height: 32px;
    max-height: 32px;
}