﻿/*@import url(grid-960.css);
@import url(rota.css);*/

/* home maplink */
body { min-width: 980px !important; }

.homeMaplink {
	display: block;
	overflow: hidden;
}

/* barra lateral */
.homeMaplink aside {
	width: 320px;
	float: left;
	border-left: 3px solid #3381c4;
	position: relative;
	margin-right: -1px;
	margin-top: 93px;
    color: #555;
}

.homeMaplink header.logo {
	background: url(../images/bg-logo-home-maplink.png) left no-repeat;
	/*background: url(../images/bg-logo-home-maplink.png), url(../images/bg-logo-home-maplink.svg) left no-repeat;*/
	height: 93px;
	width: 323px;
	position: absolute;
	z-index: 100000;
}

.homeMaplink header h1 { 
	display: block;
	float: left;
}

header h1 a.maplink {
	background: url(../images/sprite-maplink.png) no-repeat; /* logo maplink */
	width: 210px;
	height: 85px;
	text-indent: -9999em;
	display: block;
	overflow: hidden;
}

.homeMaplink .navBar .home-hide { display: none !important; }

.homeMaplink header div.collapse {
	display: block;
	margin-top: 60px;
    cursor: pointer;
}

.homeMaplink header div.collapse i {
	display: block;
	overflow: hidden;
	text-indent: -9999em;
	width: 30px;
	height: 30px;
	background: url(../images/sprite-maplink.png) -90px -265px;
	opacity: 0.5;
}

.homeMaplink header div.collapse:hover i {
	opacity: 1;
}


/* rota */
.contentRota {
    width: 319px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 63px solid transparent;
}


/* grid grouped buttons */

aside .grid_4.gButtons.b2 .button { width: 309px; }
aside .grid_4.gButtons.b3 .button { width: 206px; }
aside .grid_4.gButtons.b4 .button { width: 69px; }
aside .grid_4.gButtons.b5 .button { width: 123px; }
aside .grid_4.gButtons.b6 .button { width: 102px; }
    
aside .grid_4.gButtons.b4 .button:last-child,
aside .grid_4.gButtons.b5 .button:last-child,  
aside .grid_4.gButtons.b6 .button:last-child { padding-right: 3px; }

/* rota controls */
.contentRota .rota { width: 290px; }
.contentRota .rota,
.contentRota .descricao {
    margin: 10px auto;
}

.contentRota .rota .box.control {
	padding: 5px 0;
	display: table;
    width: 290px;
    clear: both;
/*.homeMaplink aside .contentRota .rota .box.control .button {

.homeMaplink aside .contentRota .rota .box.control .button {
	padding: 0;
}

.homeMaplink aside .contentRota .rota .box.control .button i {
	width: 30px;
	height: 30px;
	display: block;
	overflow: hidden;
	text-indent: -9999em;
}*/
	opacity: 0.85;
}

.contentRota .rota .box.control .button.ui-selected {
    height: 27px;
}

.contentRota .rota .box.control .button:hover i {
	opacity: 1;
}

/* paradas */
.contentRota .rota .box.gParadas {
	display: block;
	clear: both;
}

}

.contentRota .rota .box.gParadas input[type=text] {
	width: 215px;
	display: inline-block;
    margin: 0 0 0 10px;
    padding-right: 30px;
}

/* com city */

.contentRota .rota .box.gParadas .parada.comCity input[type=text] {
	width: 92px;
	margin: 0 3px 0 5px;
}

.contentRota .rota .box.gParadas .parada.comCity input[type=text].city {  }

.contentRota .rota .box.gParadas .parada input[type=text].address { padding-right: 30px; }

/* autolocate */

.contentRota .rota .box.gParadas .geo {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-indent: -9999em;
	background: url(../images/sprite-maplink.png) -90px -535px no-repeat;
	position: relative;
	margin-left: -43px;
    top: -6px;
	opacity: 0.5;
    cursor: pointer;
}

.contentRota .rota .box.gParadas .parada {
	padding: 5px 0;
}

.contentRota .rota .box.gParadas .x { /* excluir parada */
	display: inline-block;
	width: 30px;
	height: 30px;
	text-indent: -9999em;
	background: url(../images/sprite-maplink.png) -90px -1015px no-repeat;
	position: relative;
	margin-left: -35px;
    top: -6px;
	opacity: 0.2;
    cursor: pointer;
}

.contentRota .rota .box.gParadas .geo:hover,
.contentRota .rota .box.gParadas .x:hover {
	opacity: 1;
}

/* opções de busca */
.contentRota .rota .box.busca {
    padding: 10px 10px 10px 5px;
    margin: -5px;
    overflow: hidden;
}

.contentRota .rota .box.busca .mais { padding-left: .4em; padding-right: .4em; }

.contentRota .rota .box.busca .button.buscar {
    margin-right: 0;
}

.contentRota .box.opcoes {
    font-size: 11px;
}

.contentRota .box.opcoes h3 { }

.contentRota .box.opcoes .box.list {
    margin-top: 10px;
}

/* pois list */
.homeMaplink .poisList {
    font-size: 12px;
}

.homeMaplink .poisList li {
    margin-bottom: -1px;
    padding: 10px;
    border: 1px solid transparent;
    border-top-color: #ddd;
    cursor: pointer;
    border-radius: 2px;
}

.homeMaplink .poisList li:hover {
    background: #fdfdfd;
    border: 1px solid #aaa;
}

.homeMaplink .local { /* para lista e tip */
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.homeMaplink .wholeMapa .local {
    color: #3b88cb;
    font-weight: bold;
}

.homeMaplink .local b {
    font-weight: bold;
    color: #666;
    margin-right: 10px;
}

.homeMaplink .wholeMapa .local a {
    font-weight: bold;
}

.homeMaplink .avaliacoes {
    display: block;
    line-height: 20px;
}

.homeMaplink .avaliacoes b {
    margin: 0 2px;
    font-size: 11px;
    color: #666;
}

.homeMaplink .avaliacoes i {
    display: inline-block;
    overflow: hidden;
    width: 12px;
    height: 14px;
    margin: 1px 0 0;
    background: url(../images/sprite-maplink.png) -125px -415px no-repeat;
}

.homeMaplink .avaliacoes i.on {
    background-position: -125px -415px;
}

.homeMaplink .avaliacoes i.off {
    background-position: -125px -435px;
}

.homeMaplink address,
.homeMaplink address > span {
    display: block;
    font-size: 13px;
    line-height: 17px;
    color: #888;
    white-space:normal;
}

.homeMaplink .infoWin {
    font-size: 13px;
    margin: 10px 0 5px;
    display: block;
    white-space: nowrap;
}

.details .clsGray
{
    color:#666666;
    padding:2px;
    }

.homeMaplink .infoWin a {
    padding-right: 20px;
}
.homeMaplink .poisList ul li.active {
    border-left: 3px solid #3381c4;
}


/* poislist accordion */
.homeMaplink .poisList .ui-accordion .ui-accordion-header {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
    cursor: pointer;
    border-top: 1px solid #DDD;
    position: relative;
    z-index: 10;
    top: 1px;
}

.homeMaplink .poisList .ui-accordion li {
    border: 1px solid #eee;
    line-height: 20px;
}

.homeMaplink .poisList .ui-accordion li b {
    font-weight: bold;
}

.homeMaplink .poisList .ui-accordion li:hover {
    border-color: #aaa;
}

.homeMaplink .poisList .ui-accordion .ui-accordion-content-active { }



.homeMaplink .poisList .ui-accordion .ui-accordion-header.ui-state-active {                 
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 50%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f8f8f8), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);
	background: linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#f2f2f2 100%);    
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0; 
	text-shadow: 0 1px 0 #fff;
}

.homeMaplink .poisList .ui-accordion .ui-accordion-header.ui-state-active a {
    font-weight: bold;
}

.homeMaplink .poisList .ui-accordion .ui-accordion-header a {
    text-decoration: none;
    color: #666;
    font-weight: normal;
    text-align: left;
}

.homeMaplink .poisList .ui-accordion .ui-accordion-header:hover a {
    color: #3b88cb;
}

/* para sua empresa */
.homeMaplink aside footer {
    position: fixed;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    width: 319px;
    bottom: 0;
    border-top: 1px solid #ddd;
}

.homeMaplink aside footer .paraSuaEmpresa {
    color: #fff;
    margin: 10px;
    /*padding: 5px;*/
    color: white;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}

.homeMaplink aside footer .paraSuaEmpresa i {
    width: 30px;
    height: 30px;
    float: left;
}

.homeMaplink aside footer .paraSuaEmpresa a { color: #fff; }

/* contentMapa */
.contentMapa {
	display: block;
	overflow: hidden;
}                                   

/* toolbar control */
.homeMaplink .controls {
	width: 40px;
	display: block;
	position: absolute;
	z-index: 1400;
    background: white;
	background: rgba(255, 255, 255, 0.9);
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	
	/*height: 600px;  set via js */
}

.homeMaplink .controls ul li {
    width: 100%;
    display: inline-block;
}

.homeMaplink .controls div i {
	display: block;
	overflow: hidden;
	margin: 5px auto;
	width: 30px;
	height: 30px;
	text-indent: -9999em;
	opacity: 0.5;
    cursor: pointer;
}

.homeMaplink .controls div:hover i {
	opacity: 1;
}

.homeMaplink .controls div.expand {
    display: none;
}

.homeMaplink .controls div.expand i {
	background: url(../images/sprite-maplink.png) -90px -145px;
	opacity: 1;	
}

.homeMaplink .controls div.transito i {
	background: url(../images/sprite-maplink.png) -90px -775px;
}

.homeMaplink .controls div.incidentes i {
	background: url(../images/sprite-maplink.png) -90px -835px;
}

.homeMaplink .controls div.clima i {
	background: url(../images/sprite-maplink.png) -90px -1255px;
}

.homeMaplink .controls div.estacionamentos i {
	background: url(../images/sprite-maplink.png) -90px -865px;
}

.homeMaplink .controls div.sitpass i {
	background: url(../images/ads/sitpass.png) no-repeat 2px;
}

.homeMaplink .controls div.radares i {
	background: url(../images/sprite-maplink.png) -90px -895px;
}

.homeMaplink .controls div.postos i {
	background: url(../images/sprite-maplink.png) -90px -925px;
}


/* bike */
.homeMaplink .controls div.emprestimo i {
	background: url(../images/sprite-maplink.png) -149px -1195px;
}
.homeMaplink .controls div.estacbike i {
	background: url(../images/sprite-maplink.png) -151px -1163px;
}
.homeMaplink .controls div.oficina i {
	background: url(../images/sprite-maplink.png) -151px -1123px;
}
.homeMaplink .controls div.paraciclo i {
	background: url(../images/sprite-maplink.png) -151px -1226px;
}


/* patrocinadores */
.homeMaplink .controls div.bradesco i {
	background: url(../images/bradesco.png);
}

.homeMaplink .controls div.grubster i {
	background: url(../images/grubster.png);
}

.homeMaplink .controls div.poiCatracaLivre i {
	background: url(../images/sprite-maplink.png) -55px -724px;
}

.homeMaplink .controls div.poiCarZ i {
	background: url(../images/3030carz.png);
}

.homeMaplink .controls div.poiBoticario i {
	background: url(../images/boticario3030.png);
}

/* controls active */     
.homeMaplink .controls div.active i {
	opacity: 1;
}

.homeMaplink .controls div.transito.active i {
	background-position: -90px -1045px;
}

.homeMaplink .controls div.incidentes.active i {
	background-position: -90px -1105px;
}

.homeMaplink .controls div.clima.active i {
	background-position: -90px -1285px;
}

.homeMaplink .controls div.estacionamentos.active i {
	background-position: -90px -1135px;
}

.homeMaplink .controls div.postos.active i {
	background-position: -90px -1195px;
}

.homeMaplink .controls div.caixasEletronicos.active i {
	background-position: -90px -1225px;
}

.homeMaplink .controls div.radares.active i {
	background-position: -90px -1165px;
}

.homeMaplink .controls div.radares.active i {
	background-position: -90px -1165px;
}

.homeMaplink .controls div.emprestimo.active i {
	background-position: -149px -1372px
}
.homeMaplink .controls div.estacbike.active i {
	background-position: -151px -1299px
}
.homeMaplink .controls div.oficina.active i {
	background-position: -151px -1259px
}
.homeMaplink .controls div.paraciclo.active i {
	background-position: -151px -1403px
}


.homeMaplink .controls div.poiCatracaLivre.active i { /* parceria */
	opacity: 1;
}

.homeMaplink .controls .loading { /* loading */
    width: 30px;
	height: 30px;
	margin: 0 5px 5px;
	display: block;
	position: fixed;
	bottom: 0;
}

/* pois tabs */
.contentRota .tab { display: none; padding-left: 10px; /*padding-right: 10px;*/ }

.contentRota .tab hgroup {
    display: block;
    overflow: hidden;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab .voltar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    text-indent: -9999em;
    background: url(../images/sprite-maplink.png) -120px -774px no-repeat;
    cursor: pointer;
    opacity: 0.5;
}

.tab .voltar:hover {
    background-position: -120px -744px;
    opacity: 1;
}

.contentRota .tab .title {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #999;
    margin-left: 10px;  
    letter-spacing: 0;
}

.contentRota .tab .trecho-title .title {
    width: 240px;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #999;
    margin-left: 10px;
    margin-top: 3px;  
}

.homeMaplink .controls .tab.selected {
   border-radius: 0 5px 5px 0;
   background: #fff;
   position: relative;
   border: 1px solid white;
   margin: -1px;
   box-shadow: 2px 0 2px #aaa;
}

.homeMaplink .controls .tab .x { display: none; }

.homeMaplink .controls .tab.selected .x {
    display: block;
    overflow: hidden;
    width: 14px;
    height: 14px;
    position: absolute;
    margin: 12px 0 0 34px;
    margin: -4px 0 0 34px;
    background: rgba(0, 0, 0, 0.75) url(../images/sprite-maplink.png) -98px -1383px;
    text-indent: -9999em;
    cursor: pointer;
    border-radius: 14px;
    opacity: 0.85;
}

.homeMaplink .controls .tab.selected:hover .x { opacity: 1; }

.homeMaplink .controls .tab.selected .x:hover {
    background: #3b88cb url(../images/sprite-maplink.png) -98px -1383px;
}

/* mapa */
.homeMaplink #mapa { }

.homeMaplink .contentMapa .box {
	display: none;
}

/* box legenda */

.homeMaplink .contentMapa .legendaMapa {
	height: 30px; 
	background-color: white;
	color: #000;
	padding: 0 5px;
	opacity: 0.9;
	border: 1px solid #666;
	border-color: #ddd;
	border-color: rgba(102, 102, 102, 0.35);
	cursor: default;
}

.homeMaplink .contentMapa .legendaMapa li {
	display: block;
	float: left;
	border-left: 15px solid gray;
	font-size: 9px;
	margin: 10px 5px;
	text-indent: 3px;
}

.homeMaplink .contentMapa .legendaMapa li.livre {
	border-color: #42915c;
}

.homeMaplink .contentMapa .legendaMapa li.fluindo {
	border-color: #ffc300;
}

.homeMaplink .contentMapa .legendaMapa li.intenso {
	border-color: #fd9e00;
}

.homeMaplink .contentMapa .legendaMapa li.lento {
	border-color: #c00;
}

.homeMaplink .contentMapa .legendaMapa li.bloqueado {
	border-color: #444;
}

.homeMaplink .contentMapa .lControlCopyrightCollection {
    opacity: 0.25;
}

.homeMaplink .contentMapa .lControlCopyrightCollection:hover {
    opacity: 1;
}

.homeMaplink aside .publicidade {
    margin: 10px auto;
}

.homeMaplink .wholeMapa .publicidade { /* publicidade lateral no mapa */
    position: absolute;
    z-index: 999999;
    right: 10px;
    top: 40px;
}

/* box msg mapa */

#boxMapaMsg {
	width:auto;
	height:auto;
	background-color: white;
	color: black;
	padding: 5px;
	opacity: 0.9;
	border: 1px solid black;
}

/* box legenda  BIKE */

#legendaBike {
	height: 30px; 
	background-color: white;
	color: #000;
	padding: 0 5px;
	opacity: 0.9;
	border: 1px solid #666;
	border-color: #ddd;
	border-color: rgba(102, 102, 102, 0.35);
	cursor: default;
}

#legendaBike li{
	display: block;
	float: left;
	border-left: 15px solid gray;
	font-size: 9px;
	margin: 10px 5px;
	text-indent: 3px;
}

#legendaBike li span {
	display: block;
	float: left;
	border-left: 8px solid gray;
	font-size: 9px;
	margin: 10px 5px;
	text-indent: 3px;
}
#legendaBike li.seguro {
	border-color: #ee9b9b;
}

#legendaBike li.t-intenso {
	border-color: #000;
}


#legendaBike li.passarela {
	border-color: #6937ff;
}

#legendaBike li.aclive {
	border-color: #ff0a0a;
}

#legendaBike li.descer {
	border-color: #ffcd37;
}



/* draggable pin no mapa */

.dragroute { 
    display: none;
    position: absolute; 
    z-index: 999999;
    width:14px; 
    height: 14px; 
    margin: -7px 0 0 -7px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.dragroute.ondrag { 
    background-color: white;
    box-shadow: 0 0 10px black;
}

/* Lista de corredores do transito online */
.overyauto { overflow-y: auto; }

ul.lista.transito { cursor: pointer; }

ul.lista.transito li .name { display: inline-block; overflow: hidden; width: 78%; }

ul.lista.transito li em { display: inline-block; overflow: hidden;  font-size: 12px; padding-right: 5px; }


.marker_special_route{
    font: bold 16px 'AllerBold', 'Helvetica', sans-serif;
    color: #333;
    color: rgba(0,0,0,0.7);
    text-align: center;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);

/*

    background:transparent url(../images/markers/clockbg.png) 50% 50% no-repeat;
    display:block;
    font-size:18px;
    line-height:36px;
    height:32px;
    width:32px;
    font-weight:bold;
    color:#222;
    text-shadow: #fff 0 1px 0;
    text-align:center;
    letter-spacing:-1px;
    margin-left: -14px;
    margin-top: -15px;
    opacity:0.80;
    -moz-opacity: 0.80;

*/

}



.bannerCatracaLivre
{
    margin:10px 0px 10px -5px;
    cursor:pointer;
    }  


.tit-rota {font-size:12px;}
.seta-tit  {background: url("../images/sprite-maplink.png") no-repeat scroll -99px -419px transparent;
    display: block;
    float: left;
    height: 15px;
    width: 15px;}
    
    .msg-erro-poi, .avisoRotaAPe, .avisoRotaBike {  background-color: #FCDA7E;
    color: #A58225;
    padding: 10px;
border:1px solid rgba(0, 0, 0, 0.1); border-radius:3px; font-size:13px; 
   }
    .avisoRotaAPe, .avisoRotaBike {padding:5px; margin:8px 8px 0px 0px;}
    .ajuste-msg-erro {background:none!important; border:none!important; padding:none!important; border-style:none!important; border-width:none!important; cursor:default!important}