﻿/* resumo da rota */

.contentRota .box.resumoRota {
    margin: 10px 1px;
}

.box.resumoRota .calculo { width: 248px; }


/* descricao da rota */

.contentRota .descricao { border-top: 1px solid #ddd; }

.contentRota .descricao li {
    display: block;
    overflow: hidden;
    clear: both;
    width: 100%;
    min-height: 30px;
    cursor: pointer;
    border-top: 1px dashed #ddd;
}

.contentRota .descricao li > ul {
    
}
.contentRota .descricao li > ul > li.step {
    margin-bottom: -2px;
}

.contentRota .descricao li > ul > li.step span.direction {
    
}

.contentRota .descricao li > ul > li.step span.direction i {
    
}

.contentRota .descricao li > ul > li.step p.orientation {
    font-style: italic;
}

.contentRota .descricao li:hover {
    background: #f5f5f5;
}

.contentRota .descricao .parada.origem {
    border: none;
    cursor: pointer;
}

.contentRota .descricao .parada.destino {
    padding-bottom: 5px;
}

.contentRota .descricao .pin {
    margin: 10px 10px 10px 0;
}

.contentRota .descricao .direction {
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
}

.contentRota .descricao .direction i {
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999em;
    overflow: hidden;
    position: relative;
    background: url(../images/sprite-maplink.png);
}

.contentRota .descricao .direction i.vireEsquerda {
    background-position: -55px -89px;
}

.contentRota .descricao .direction i.vireDireita {
    background-position: -55px -129px;
}

.contentRota .descricao .direction i.vireEsquerdaAberta {
    background-position: -55px -169px;
}

.contentRota .descricao .direction i.vireDireitaAberta {
    background-position: -55px -209px;
}

.contentRota .descricao .direction i.vireEsquerdaFechada {
    background-position: -55px -249px;
}

.contentRota .descricao .direction i.vireDireitaFechada {
    background-position: -55px -289px;
}

.contentRota .descricao .direction i.retorno {
    background-position: -55px -329px;
}

.contentRota .descricao .direction i.rotatoria {
    background-position: -55px -369px;
}

.contentRota .descricao .direction i.entrada {
    background-position: -55px -409px;
}

.contentRota .descricao .direction i.mantenhaDireita {
    background-position: -55px -449px;
}

.contentRota .descricao .direction i.mantenhaEsquerda {
    background-position: -55px -489px;
}

.contentRota .descricao .direction i.sigaEmFrente {
    background-position: -55px -529px;
}

.contentRota .descricao .direction i.posto {
    background-position: -55px -559px;
}

.contentRota .descricao .direction i.imgRadar {
    background-position: -55px -569px;
}

.contentRota .descricao .direction i.pedagio {
    background-position: -55px -840px;
}

.contentRota .descricao .direction i.cameras {
    background-position: -55px -864px;
}

.contentRota .descricao .direction i.radar {
    background-position: -55px -569px;
}

.contentRota .descricao .direction i.trem {
    background-position:-92px -594px;
    }
    
    .contentRota .descricao .direction i.baldeacao {
    background-position:-151px -1057px;
    }
    
.contentRota .descricao .direction i.linha { background-position: -151px -1017px;}

/* sprite tipo de pista */

.contentRota .descricao .pista { width: 30px; height: 30px; display: inline-block; float: left; }

.contentRota .descricao .pista i { background: url(../images/sprite-pistas.png); width: 100%; height: 100%; display: block; text-indent: -9999em; overflow: hidden; position: relative; }

.contentRota .descricao .pista i.es         { background-position: -6px   -6px;    } /* pista simples */
.contentRota .descricao .pista i.O          { background-position: -86px  -406px; } /* pista simples partida */
                         
.contentRota .descricao .pista i.ba_ba      { background-position: -6px   -166px; } /* agua */
.contentRota .descricao .pista i.ba_ep      { background-position: -166px -46px ; }
.contentRota .descricao .pista i.ba_es      { background-position: -166px -166px; }
.contentRota .descricao .pista i.ba_p       { background-position: -166px -166px; }
.contentRota .descricao .pista i.ba_pd      { background-position: -166px -246px; }
.contentRota .descricao .pista i.ba_t       { background-position: -166px -126px; }
.contentRota .descricao .pista i.ba_cp      { background-position: -166px -86px ; }
.contentRota .descricao .pista i.ba_ed      { background-position: -166px -326px; }
.contentRota .descricao .pista i.ba_c       { background-position: -166px -206px; } /* chegada */
                         
.contentRota .descricao .pista i.cp_cp      { background-position: -86px  -6px;   } /* com x */
.contentRota .descricao .pista i.cp_ba      { background-position: -86px  -166px; }
.contentRota .descricao .pista i.cp_ed      { background-position: -86px  -326px; }
.contentRota .descricao .pista i.cp_ep      { background-position: -86px  -46px;  }
.contentRota .descricao .pista i.cp_p       { background-position: -86px  -86px;  }
.contentRota .descricao .pista i.cp_pd      { background-position: -86px  -246px; }
.contentRota .descricao .pista i.cp_t       { background-position: -86px  -126px; }
.contentRota .descricao .pista i.cp_chegada { background-position: -86px  -206px; }
                        
.contentRota .descricao .pista i.ed_ed      { background-position: -6px   -406px; } /* cinza escuro e claro */
.contentRota .descricao .pista i.ed_ba      { background-position: -166px -286px; }
.contentRota .descricao .pista i.ed_cp      { background-position: -86px  -366px; }
.contentRota .descricao .pista i.ed_ep      { background-position: -46px  -446px; }
.contentRota .descricao .pista i.ed_es      { background-position: -6px   -446px; }
.contentRota .descricao .pista i.ed_p       { background-position: -6px   -446px; }
.contentRota .descricao .pista i.ed_pd      { background-position: -46px  -446px; }
.contentRota .descricao .pista i.ed_t       { background-position: -126px -366px; }
.contentRota .descricao .pista i.ed_chegada { background-position: -46px  -486px; }
                        
.contentRota .descricao .pista i.ep_ep      { background-position: -46px  -6px;   } /* pista simples claro */
.contentRota .descricao .pista i.ep_ba      { background-position: -46px  -166px; }
.contentRota .descricao .pista i.ep_cp      { background-position: -46px  -86px;  }
.contentRota .descricao .pista i.ep_ed      { background-position: -46px  -366px; }
.contentRota .descricao .pista i.ep_es      { background-position: -46px  -46px;  }
.contentRota .descricao .pista i.ep_p       { background-position: -46px  -46px;  }
.contentRota .descricao .pista i.ep_pd      { background-position: -46px  -246px; }
.contentRota .descricao .pista i.ep_t       { background-position: -46px  -126px; }
.contentRota .descricao .pista i.ep_chegada { background-position: -46px  -206px; }
                        
.contentRota .descricao .pista i.es_es      { background-position: -6px   -6px;   } /* pista simples */
.contentRota .descricao .pista i.es_ba      { background-position: -6px   -166px; }
.contentRota .descricao .pista i.es_cp      { background-position: -6px   -86px;  }
.contentRota .descricao .pista i.es_ed      { background-position: -6px   -366px; }
.contentRota .descricao .pista i.es_ep      { background-position: -6px   -46px;  }
.contentRota .descricao .pista i.es_p       { background-position: -6px   -6px;   }
.contentRota .descricao .pista i.es_pd      { background-position: -6px   -246px; }
.contentRota .descricao .pista i.es_t       { background-position: -6px   -126px; }
.contentRota .descricao .pista i.es_chegada { background-position: -6px   -206px; }
                        
.contentRota .descricao .pista i.p_p        { background-position: -6px   -6px;   } /* pista simples alongada */
.contentRota .descricao .pista i.p_ba       { background-position: -6px   -166px; }
.contentRota .descricao .pista i.p_ed       { background-position: -46px  -286px; }
.contentRota .descricao .pista i.p_ep       { background-position: -6px   -46px;  }
.contentRota .descricao .pista i.p_es       { background-position: -6px   -6px;   }
.contentRota .descricao .pista i.p_t        { background-position: -6px   -126px; }
.contentRota .descricao .pista i.p_cp       { background-position: -6px   -86px;  }
.contentRota .descricao .pista i.p_pd       { background-position: -6px   -246px; }
.contentRota .descricao .pista i.p_chegada  { background-position: -6px   -206px; }
                      
.contentRota .descricao .pista i.pd_pd      { background-position: -6px   -286px; } /* pista dupla */
.contentRota .descricao .pista i.pd_ba      { background-position: -166px -286px; }
.contentRota .descricao .pista i.pd_cp      { background-position: -86px  -286px; }
.contentRota .descricao .pista i.pd_ed      { background-position: -46px  -286px; }
.contentRota .descricao .pista i.pd_ep      { background-position: -46px  -406px; }
.contentRota .descricao .pista i.pd_es      { background-position: -6px   -326px; }
.contentRota .descricao .pista i.pd_t       { background-position: -126px -366px; }
.contentRota .descricao .pista i.pd_p       { background-position: -6px   -326px; } /* pista dupla p/ simples */
.contentRota .descricao .pista i.pd_chegada { background-position: -6px   -486px; }
                       
.contentRota .descricao .pista i.t_t        { background-position: -126px -6px;   } /* terra */
.contentRota .descricao .pista i.t_ba       { background-position: -126px -166px; }
.contentRota .descricao .pista i.t_cp       { background-position: -126px -86px;  }
.contentRota .descricao .pista i.t_ed       { background-position: -126px -326px; }
.contentRota .descricao .pista i.t_ep       { background-position: -126px -46px;  }
.contentRota .descricao .pista i.t_es       { background-position: -126px -126px; }
.contentRota .descricao .pista i.t_p        { background-position: -126px -126px; }
.contentRota .descricao .pista i.t_pd       { background-position: -126px -246px; } 
.contentRota .descricao .pista i.t_chegada  { background-position: -126px -206px; }

/* descricao da rota */
.contentRota .descricao .parada .address {
    font-weight: bold;
    color: #5194cd;
}

.contentRota .descricao .parada .address,
.contentRota .descricao .step .orientation {
    font-size: 11px;
    line-height: 1.5em;
    display: inline-block;
    color: #666;
}

.contentRota .descricao .step .orientation {
    max-width: 210px;
    padding: 5px 10px;
}

.contentRota .descricao .meter {
    padding: 5px;
    float: right;
    position: relative;
    font-size: 10px;
    color: #999;
}