﻿/* lista transito */

.lista.transito li { border-left: 0; float: none; }

.lista.transito li span,
.lista.transito li a > b[class^="col"],
.lista.transito li .name { font-size: 11px; padding: 2px 10px; color: #888; text-decoration: none; }

.lista.transito li .minus:first-letter { font-size: 7px; margin-right: 5px; }

.lista.transito li em { font-style: italic; color: #999; }

.lista.transito li .tempo, 
.lista.transito li .velocidade { color: #999; font-size: 11px; margin: auto 10px; text-align: right; min-width: 30px; } /* resumo de transito */

.lista.transito li .col-status { min-width: 36px; padding-right: 10px; font-weight: bold; text-align: right; }

.lista.transito li .col-info { font-style: italic; border-left: 3px solid #ddd; padding-left: 10px; max-width: 70%; }

/* bordas e cores */

.lista.transito .lvlCongested_SemInformacao a,
.lista.transito .lvlCongested_SemInformacao .name,
.lista.transito li .col-info.sem-informacao { border-left: 3px solid #ddd; }

.lista.transito .lvlCongested_Livre a,
.lista.transito .lvlCongested_Livre .name,
.lista.transito li .col-info.livre          { border-left: 3px solid #6fbb2f; }

.lista.transito .lvlCongested_Fluindo a,
.lista.transito .lvlCongested_Fluindo .name,       
.lista.transito li .col-info.fluindo        { border-left: 3px solid #fed11d; }

.lista.transito .lvlCongested_Intenso a,  
.lista.transito .lvlCongested_Intenso .name,       
.lista.transito li .col-info.intenso        { border-left: 3px solid #ff9900; }

.lista.transito .lvlCongested_Lento a,  
.lista.transito .lvlCongested_Lento .name,         
.lista.transito li .col-info.lento          { border-left: 3px solid #e2535e; }

.lista.transito .lvlCongested_Bloqueado a,
.lista.transito .lvlCongested_Bloqueado .name,
.lista.transito li .col-info.bloqueado      { border-left: 3px solid #333; }

/* lista transito horizontal */

.lista.transito.horizontal,
.tab.trechos + .cityInfo.horizontal { margin-top: 10px; }

.lista.transito.horizontal * { cursor: default; float: none; padding: 0; margin: 0; border: none !important; }

.lista.transito.horizontal *:hover { background: none; }

.lista.transito.horizontal li { float: left; width: 65px; text-align: center; margin-right: 5px;; }

.lista.transito.horizontal li em { display: none; }

.lista.transito.horizontal li .name { padding-left: 0; padding-right: 0; padding-top: 5px; width: 100%; }

.lista.transito.horizontal .lvlCongested_SemInformacao a,
.lista.transito.horizontal .lvlCongested_SemInformacao .name,
.lista.transito.horizontal li .col-info.sem-informacao { border-top: 3px solid #ddd !important; }
              
.lista.transito.horizontal .lvlCongested_Livre a,
.lista.transito.horizontal .lvlCongested_Livre .name,
.lista.transito.horizontal li .col-info.livre          { border-top: 3px solid #6fbb2f !important; }
              
.lista.transito.horizontal .lvlCongested_Fluindo a,
.lista.transito.horizontal .lvlCongested_Fluindo .name,  
.lista.transito.horizontal li .col-info.fluindo        { border-top: 3px solid #fed11d !important; }

.lista.transito.horizontal .lvlCongested_Intenso a,  
.lista.transito.horizontal .lvlCongested_Intenso .name,  
.lista.transito.horizontal li .col-info.intenso        { border-top: 3px solid #ff9900 !important; }

.lista.transito.horizontal .lvlCongested_Lento a,  
.lista.transito.horizontal .lvlCongested_Lento .name,    
.lista.transito.horizontal li .col-info.lento          { border-top: 3px solid #e2535e !important; }

.lista.transito.horizontal .lvlCongested_Bloqueado a,
.lista.transito.horizontal .lvlCongested_Bloqueado .name,
.lista.transito.horizontal li .col-info.bloqueado      { border-top: 3px solid #333 !important; }

.trecho-title { display: none; }

/* trechos home */

aside .lista.transito em { font-style: normal; font-size: 11px !important; }

/* sentidos */

/* .sentidoUnico */

.sentidoUnico .lista.transito li { border-bottom: 1px solid #f2f2f2 !important; margin-top: -1px; }

.sentidoUnico .lista.transito { border-bottom: none !important; }

/* mapa */

.main .content #mapa { border: 1px solid #f2f2f2; }

/* defaults */

a.mais { font-size: 12px; float: right; color: #aaa; text-decoration: none; font-weight: normal; }

a.mais:hover { color: #3b88cb; text-decoration: underline; }

/* trânsito agora */

/* se a cidade tiver notícias */

.transito-agora-container {  }

.transito-agora-container .noticia { min-height: 90px; }

.transito-agora-container .noticia { margin-top: 20px; }

.transito-agora-container .noticia > b,
.transito-agora-container .noticia > p,
.transito-agora-container .noticia > p a { color: #777; font-size: 14px; line-height: 1.5em; float: left; }

.transito-agora-container .noticia p { padding-bottom: 0 !important; padding-left: 10px; border-left: 3px solid #3b88cb; }

.transito-agora-container .noticia p + span { display: block; line-height: 30px; clear: both; }

.transito-agora-container .noticia > p a:hover { color: #3b88cb; }

.transito-agora-container .noticia .hgroup em { color: #999; font-size: 12px; font-weight: bold; }

.transito-agora-container .noticia .livre { color: #6fbb2f;}

.transito-agora-container .noticia .fluindo { color: #fed11d; }

.transito-agora-container .noticia .intenso { color: #f90; }

.transito-agora-container .noticia .lento { color: #e2535e; }

/* zonas */

.zonas-container-box {  }

.zonas-container-box h4 { font-size: 13px; line-height: 30px !important; }

.zonas-container-box h4 b { font-size: 12px; color: #999; }

/*
.zonas-container-box .status { width: 30px; height: 20px; display: inline-block; text-indent: -9999em; overflow: hidden; background: url(/_assets/images/sprite-maplink.png) -150px -774px no-repeat; }

.zonas-container-box .status.down { background-position: -150px -774px; }

.zonas-container-box .status.up { background-position: -150px -804px;  }
*/
/* tempo de trechos */

.tempo-trechos-container .corredor-box hgroup { overflow: hidden; }

.tempo-trechos-container figure { margin: 5px 0; }

.tempo-trechos-container figure img { min-height: 100px; max-height: 100px; clip: rect(0, 0, 100px, 0); }

figure img + figcaption { 
    margin-right: 0;
    width: 100%;
    float: left;
    height: 25px;
    background: #222;
    background: rgba(0, 0, 0, 0.85);
    text-indent: 10px;
    font-size: 11px;
    color: white;
    line-height: 25px; 
}

.cameras-container figure img + figcaption { margin-right: 0; width: 100%; float: left; height: 25px; text-indent: 10px; }

/* câmeras */

.cameras-container figure img { min-height: 165px; max-height: 165px; max-width: 380px; }

/* twitter widget */

.twitter-widget-maplink-box { margin-top: 5px; }

/* nuvem */
 
.cloud-container a { text-decoration: none; }
 
.cloud-container a:hover { text-decoration: underline; }

/* termometro */

.termometro-box { margin-top: 20px; min-height: 220px; background: url(../images/termometro.png) center top no-repeat; }

.termometro-box .ultima-atualizacao { font-size: 10px; color: #999; margin-top: -10px; border-bottom: 1px solid #fafafa; }

.termometro-box p.medidas { text-align: right; font-size: 11px; color: #999; position: relative; width: 42%; padding-top: 20px; }

.termometro-box p.medidas span { display: inline-block; height: 41px; }

.termometro-box p.medidas strong { height: 40px; }

.termometro-box .medidor { margin-top: 180px; color: #aaa; position: relative; background: url(../images/termometro-medidor.png) 0 17px no-repeat; }

.termometro-box .medidor strong { font-size: 12px; display: block; clear: both; color: #666; text-indent: 30px; }

.termometro-box .medidor strong b { font-size: 28px; }

.termometro-box .medidor em { display: block; font-size: 12px; text-indent: 30px; }

.link-corr a {color:#5194CD!important}
.no-border {border-top:none!important}
.data-lista {font-size:12px!important}